<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>U-Food</title>
		<!-- We are conditionally including test support if the showTests
         variables has been set. -->
		{{#if showTests}}
			<link rel="stylesheet" href="/vendor/mocha.css">
		{{/if}}
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

		<!-- We add the jQuery library because we will be using it
		     to manipulate HTML in the browser. -->
		<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/javascripts/dining_common.js"></script>

        <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
    </head>
	<body>
        <nav class="navbar navbar-umass">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img class="navbar-brand" src="/img/ufood_header_logo_white.png" alt="U-FOOD"/>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/home">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li class="dropdown">
                            <a href="/mockups" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mockups<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/mockups?mockup=admin">Admin</a></li>
                                <li><a href="/mockups?mockup=home">Home</a></li>
                                <li><a href="/mockups?mockup=login_or_signup">Login or Signup</a></li>
                                <li><a href="/mockups?mockup=user_profile">User Profile</a></li>
                                <li><a href="/mockups?mockup=dining_hall_food_selection">Dining Hall</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="/dining_commons" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dining Commons<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {{#each list_dcs}}
                                    <li><a href="/dining_commons?dcid={{this.dcid}}">{{this.name}}</a></li>
                                {{/each}}
                            </ul>
                        </li>
                        <li><a href="/users">The Team</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {{#if user}}
                            <li><a href="/users/profile">{{user.firstname}} {{user.lastname}}</a></li>
                            <li><a href="/users/logout">Log Out</a></li>
                        {{else}}
                            <li><a href="/users/login">Log In or Sign Up</a></li>
                        {{/if}}
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <div class="content">
            <h4>{{{message}}}</h4>
            {{{body}}}
        </div>
		{{#if showTests}}
			<div id="mocha"></div>
			<script src="/vendor/mocha.js"></script>
			<script src="/vendor/chai.js"></script>
			<script>
				mocha.ui('tdd');
				var assert = chai.assert;
			</script>

			<script src="/qa/tests-global.js"></script>
			{{#if pageTestScript}}
				<script src="{{pageTestScript}}"></script>
			{{/if}}
			<script>mocha.run();</script>
		{{/if}}
	</body>
</html>
