<head>
    <title>Dining Commons</title>
    <link rel="stylesheet" href="/stylesheets/diningcommons.css" type="text/css">
</head>
<body>
    <div class='col-md-6'>
        <select name='dining_commons' class='right_center' id="dc_select">
            <option>Select a Dining Commons</option>
            {{#each list_dcs}}
                <option value='{{this.dcid}}'>{{this.name}}</option>
            {{/each}}
        </select>
    </div>

    <br>
    <br>

    <div class='col-md-6'>
        <div class="red_box acc_info">
            <table id="quick_summaries">
                {{#each dining_commons}}
                    <tr>
                        <th colspan=2><a href="/dining_commons?dcid={{this.dcid}}">{{this.name}} Dining Commons</a></th>
                    </tr>
                    <tr>
                        <td>Location - {{this.location}}</td>
                    </tr>
                    <tr>
                        <td>Traffic - {{this.crowdedness}}</td>
                        <td>Noise - {{this.noise_level}}</td>
                    </tr>
                    <tr>
                        <td colspan=4>&nbsp;</td>
                    </tr>

                    {{!-- MODAL BOX FOR CHANGING NOISE AND TRAFFIC --}}
                    <tr>
                        <td colspan=4>
                            <a href="#openModal">Is this info wrong? click here to update it!</a>
                        </td>
                    </tr>
                {{/each}}
            </table>
        </div>
    </div>

    <script>
        $(function() {
            $( "#openModal" ).dialog({
                autoOpen: false});
        });
    </script>


    <div id="openModal" class="modalDialog">
        <div>
            {{#each dining_commons}}
            <a href="#close" title="Close" class="close">X</a>
            <h2>{{this.name}}</h2>
            <p>Update the traffic level:</p>
            <select name='dining_commons' class='right_center' id="dc_select">

                <option value="" disabled="disabled" selected="selected">Select a traffic level</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                {{!-- {{#each list_dcs}}
                    <option value='{{this.dcid}}'>{{this.name}}</option>
                {{/each}} --}}
            </select>
            <p>Update the noise level:</p>
            <select name='dining_commons' class='right_center' id="dc_select">
                <option value="" disabled="disabled" selected="selected">Select a traffic level</option>
                   <option value="1">1</option>
                   <option value="2">2</option>
                   <option value="3">3</option>
                   <option value="4">4</option>
                   <option value="5">5</option>
                   <option value="6">6</option>
                   <option value="7">7</option>
                   <option value="8">8</option>
                   <option value="9">9</option>
                   <option value="10">10</option>
              {{!--   {{#each list_dcs}}
                    <option value='{{this.dcid}}'>{{this.name}}</option>
                {{/each}} --}}
            </select>
            <br><br><br>
            <div class="btn-group" role="group">
            <button type="button" class="btn btn-default">Submit</button>
            </div>
            {{/each}}
        </div>
    </div>

    <div class='col-md-6'>
        <ul id='reviews' class='red_box'>
            <a class="yellow" href="/reviews/new">Create a Review</a>
            {{#each reviews}}
                <li class='review'>
                    <p><em>"{{this.body}}"</em></p>
                    <h6 class='post_details'>{{this.username}} - {{this.time}}</h6>
                </li>
            {{/each}}
        </ul>
    </div>
</body>
