<div class='col-md-6'>
    <select name='dining_commons' class='right_center' id="dc_select">
        <option>Select a Dining Commons</option>
        {{#each list_dcs}}
            <option value='{{this.dcid}}'>{{this.name}}</option>
        {{/each}}
    </select>
</div>

<br>
<br>

<div class='col-md-6'>
    <div class="red_box acc_info">
        <table id="quick_summaries">
            {{#each dining_commons}}
                <tr>
                    <th colspan=2><a href="/dining_commons?dcid={{this.dcid}}">{{this.name}} Dining Commons</a></th>
                </tr>
                <tr>
                    <td>Location - {{this.location}}</td>
                </tr>
                <tr>
                    <td>Traffic - {{this.crowdedness}}</td>
                    <td>Noise - {{this.noise_level}}</td>
                </tr>
                <tr>
                    <td colspan=4>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan=4><a href="#">Is this info wrong? click here to update it!</a></td>
                </tr>
            {{/each}}
        </table>
    </div>
</div>

{{!-- reviews placeholder --}}

<div class='col-md-6'>
  <ul id='reviews' class='red_box'>
    {{#each reviews}}
        <li class='review'>
            <p><em>"{{this.body}}"</em></p>
            <h6 class='post_details'>{{this.username}} - {{this.time}}</h6>
        </li>
    {{/each}}
  </ul>
</div>