<div class='col-md-6'>
  <select name='dining_commons' class='left_center'>
  <option>Select a Dining Commons</option>
    {{#each dining_commons}}
      <option value='{{this.name}}'>{{this.name}}</option>
    {{/each}}
  </select>
</div>

<div class='col-md-6'>
  <select name='food' class='right_center'>
    <option>Select a Food</option>
    {{#each foods}}
      <option value='{{this}}'>{{this}}</option>
    {{/each}}
  </select>
</div>

<br>
<br>

<div class='col-md-6'>
  <h3>Quick Info</h3>
  <ul id='quick_summaries'>
    {{#each dining_commons}}
      <li class="quick_summary">
        <div>
            <h4>{{this.name}}:</h4>
          <dl>
            <div class='stack_right'>
              <dt>Traffic</dt>
              <dd>{{this.traffic}}</dd>
            </div>
            <div class='stack_right'>
              <dt>Noise Level</dt>
              <dd>{{this.noise}}</dd>
            </div>
          </dl>
        </div>
      </li>
    {{/each}}
  </ul>
</div>

<div id='trending' class='col-md-6'>
  <h3>Trending</h3>
  <ul id='reviews'>
  {{#each reviews}}
    <li class='review'>
      <h5 class='review_title'> {{this.dc}} DC</h5>
      <p><em>{{this.text}}</em></p>
      <h6 class='post_details'>Posted by {{this.user}} {{this.time}}</h6>
    </li>
  {{/each}}
  </ul>
</div>
