<div class='col-md-6'>
  <select name='dining_commons' class='left_center'>
  <option>Select a Dining Commons</option>
    {{#each dining_commons}}
      <option value='{{this.name}}'>{{this.name}}</option>
    {{/each}}
  </select>
</div>

<div class='col-md-6'>
  <select name='food' class='right_center'>
    <option>Select a Food</option>
    {{#each foods}}
      <option value='{{this}}'>{{this}}</option>
    {{/each}}
  </select>
</div>

<br>
<br>

<div class='col-md-6'>
  <h3>Quick Info</h3>
  <div class="red_box">
    <table id='quick_summaries'>
      {{#each dining_commons}}
        <tr>
          <th colspan=2>{{this.name}} Dining Commons</th>
        </tr>
        <tr>
          <td>Traffic - {{this.traffic}}</td>
          <td>Noise - {{this.noise}}</td>
        </tr>
        <tr>
          <td colspan=4>&nbsp;</td>
        </tr>
      {{/each}}
    </table>
  </div>
</div>

<div id='trending' class='col-md-6'>
  <h3>Trending</h3>
  <ul id='reviews'>
  {{#each reviews}}
    <li class='review'>
      <h5 class='review_title'> {{this.dc}} DC</h5>
      <p><em>{{this.text}}</em></p>
      <h6 class='post_details'>Posted by {{this.user}} {{this.time}}</h6>
    </li>
  {{/each}}
  </ul>
</div>
