<div class='col-md-6'>
  <select name='dining_commons' class='right_center' id="dc_select">
  <option>Select a Dining Commons</option>
    {{#each list_dcs}}
      <option value='{{this.name}}'>{{this.name}}</option>
    {{/each}}
  </select>
</div>

<br>
<br>

<div class='col-md-6'>
  <h3>Account Info</h3>
  <ul class="red_box acc_info">
    <li>{{user.firstname}} {{user.lastname}} ({{user.username}})</li>
    <li><a href="/users/change-password">Change Password</a></li>
    <br>
    <li>Admin: {{user.admin}}</li>
    <br>
    <li>{{user.description}}</li>

  </ul>
</div>


{{!-- filler for footer --}}
<div class="panel">
  <div class="container">
  </div>
</div>
