<div class='col-md-6'>
  <select name='dining_commons' class='left_center'>
  <option>Select a Dining Commons</option>
    {{#each dining_commons}}
      <option value='{{this.name}}'>{{this.name}}</option>
    {{/each}}
  </select>
</div>

<div class='col-md-6'>
  <select name='food' class='right_center'>
    <option>Select a Food</option>
    {{#each foods}}
      <option value='{{this}}'>{{this}}</option>
    {{/each}}
  </select>
</div>

<br>
<br>

<div class='col-md-6'>
  <h3>Account Info</h3>
  <ul class="red_box acc_info">
    <li><a href="/users/change-password">Change Password</a></li>
    <li>Other things we can put here:</li>
    <li>how many reviews user has</li>
    <li>change username</li>
    <li>user email/change email (if we want to use emails)</li>
    <li>etc</li>
  </ul>
</div>

<div id='trending' class='col-md-6'>
  <h3>Your Reviews</h3>
  <ul id='reviews' class='red_box'>
  {{#each reviews}}
    <li class='review'>
      <h5 class='review_title'>{{this.dc}} Dining Commons</h5>
      <p><em>"{{this.text}}"</em></p>
      <h6 class='post_details'>{{this.user}} {{this.time}}</h6>
    </li>
  {{/each}}
  </ul>
</div>
